<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    input {
      width: 300px;
      padding: 10px;
    }
  </style>

  <body>
    <h1>Add Movies</h1>

    <input type="text" id="name" placeholder="Enter Movie Name" />
    <input type="text" id="category" placeholder="Enter Movie Category" />
    <input type="text" id="img" placeholder="Enter Image URL" />
    <input type="text" id="desc" placeholder="Enter Description" />

    <button onclick="handelSubmit()">Submit</button>
  </body>

  <script>
    const handelSubmit = () => {
      const name = document.getElementById("name").value;
      const category = document.getElementById("category").value;
      const img = document.getElementById("img").value;
      const desc = document.getElementById("desc").value;

      const movie = {
        name: name,
        category: category,
        img: img,
        desc: desc,
      };

      const movies = JSON.parse(localStorage.getItem("movies")) || [];

      movies.push(movie);

      localStorage.setItem("movies", JSON.stringify(movies));

      alert("Movie added")
    };
  </script>
</html>
