<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protfolio</title>
</head>
<body>
    <header>
        <h1 style="text-align: center;">WASIM AKRAM</h1>
        <h5 style="text-align: center;">Phone: +91 8984173079 | mail: <u>78690wasimakram@gmail.com</u> | <a href="www.linkedin.com">LinkedIn</a> | <a href="www.github.com">GitHub</a></h5>
        <img src="w4simz-4.jpeg" alt="wasim image" style="height: 100px; width: 100px; position: absolute;top: 0%;left: 100%; ">
        <hr>
        <h3><u>About Me:</u></h3>
             <p>I am an engineering student specializing in Data Analytics, with practical knowledge of <b>Python</b>, <b>C</b>, <b>HTML</b>, <b>CSS</b>,  
                and <b>JavaScript</b>. Experienced in analyzing and visualizing data through projects and virtual internships. Actively seeking 
                internship opportunities to apply analytical skills and contribute to data-driven decisions. </p>
    </header> 
    
    <section>
        <h3><u>Education:</u></h3>
            <p><b><I>Bachelor of Technology (B.Tech)</I></b>
            <p>Gandhi Institute of Excellent Technocrats (GIET), Ghangapatna, Bhubaneswar.</p>
            <p>Currently pursuing.</p>
            <p>SGPA: 7.51 </p>
            <p><b><I>Higher Secondary Education (12th) </I></b></p>
            <p>Kujang College, Kujanga </p>
            <p>Year of completion [2023], 65% </p>
            <p><b><I>Secondary Education (10th) </I></b></p>
            <p>Saraswati Shisu Vidya Mandir Kujanga ,Paradip </p>
            <p>Year of completion [2021], 73.41%</p>
            </p>
    </section>        
    <h3><u>Internship Experience:</u></h3>
        <ul>
            <li>Data Analytics Internship – CTTC Bhubaneswar [1th July-30th July 2025] </li>
        </ul>
    
    <h3><u>Skills:</u></h3>
    <h3>Technical Skills:-</h3>
        <ul>
            <li>Programming Languages: C, Python </li>
            <li>Web Technologies: HTML, CSS, JavaScript</li>
            <li>Database Management: MySQL</li>
            <li>Tools & Platforms: Git, Visual Studio Code</li>
            <li>Operating Systems: Windows, Linux</li>
        </ul>
    
    <section>

        <h3>Soft Skills:-</h3>
        <ul>
            <li>Problem Solving & Analytical Thinking</li>
            <li>Teamwork & Collaboration</li>
            <li>Communication & Presentation Skill</li>
            <li>Time Management , Adaptability & Quick Learning</li>
        </ul>
    </section>
    
    <section>    
    
        <h3>Projects:</h3>
        <ul>
            <li><b><i>Student performance analysis  (CTTC Bhubaneswar) </i></b></li>
            <li><b><i>Ai Image Generator </i></b></li>
            <li><b><i>Creating Portfolio </i></b></li>
            <li><b><i>ASCII Video Generator</i></b></li>
        </ul>
    
    </section>    
    
    
    <footer>    
        <h3><b><i>Announcement:</i></b></h3>
            <p> I hereby declare that all the above-mentioned information is true to the best of my knowledge and belief.</p>

        <h1 style="text-align: center;">Thank You</h1>
    </footer>
</body>
</html>